doctype html
head
    meta(charset="UTF-8")
    title Lightning fast prototyping
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="styles/main.css")
    link(rel="stylesheet", href="fonts/stylesheet.css")
    link(rel="stylesheet", href="styles/bootstrap.min.css")

body
